@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ext-width: 450px;
	--ext-height: 450px;
}

/* This sets the size of the Chrome extension */
html,body {
	width: var(--ext-width);
	height: var(--ext-height);
}
