@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ext-width: 360px;
	--ext-height: 500px;
}

/* This sets the size of the Chrome extension */
html,body,#root {
	width: var(--ext-width);
	height: var(--ext-height);
}
